@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Roboto";
  background-color: #f9f9f9;
}

body {
  min-width: 0;
}

.gradient-background {
  background: linear-gradient(
    180deg,
    rgba(7, 13, 89, 0) 0%,
    rgba(7, 13, 89, 0) 57.81%,
    rgba(7, 13, 89, 0.15) 65.1%,
    #070d59 100%
  );
}

@media (min-width: 640px) {
  body {
    min-width: 1440px;
  }
}
